/build/
dist/
/nbproject/private/
/nbproject/nbproject.properties
*.log
*.class
*.war
*.ear
*.jar
.DS_Store
Thumbs.db
ConsorcioUNCode-ejb/build/generated-sources/ap-source-output/com/consorcio/entity/
